<h3>スケジュール詳細</h3>

<table>
  <tr>
    <th>ID</th>
    <td><%= @schedule.id %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @schedule.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= l @schedule.startedDay %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= l @schedule.endedDay %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @schedule.allDay ? 'O' : 'X' %></td>
  </tr>
  <tr>
    <th>スケジュール更新日時</th>
    <td><%= l @schedule.updated_at %></td>
  </tr>
  <tr>
    <th>メモ</th>
    <td><%= @schedule.description %></td>
  </tr>
</table>

<%= render "shared/footer" %>